<a href="https://colab.research.google.com/github/bethelmyjulio/Peer-graded--Assignment/blob/main/bretopic_clusterizar_keywords.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install --quiet git+https://github.com/joshcarty/google-searchconsole bertopic

  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 120.7/120.7 kB 3.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 152.9/152.9 kB 8.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 88.2/88.2 kB 1.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.2/5.2 MB 50.3 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 86.0/86.0 kB 10.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.0/7.0 MB 89.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 35.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.1/200.1 kB 23.1 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 67.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 115.6/115.6 kB 13.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.8/7.8 MB 94.4 MB/s eta 0:00:00
  Building wheel for searchconsole (setup.py) ... done
  Building wheel for hdbscan (pyproject.toml) ... done
  Building wheel for sentence-transformers (setup.py) ... done
  Building wheel for umap-learn (setup.py) ... done
  Building wheel for pynndescent (setup.py) ... done
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-cloud-translate 3.11.1 requires google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.0, but you have google-api-core 2.10.2 which is incompatible.
google-cloud-language 2.9.1 requires google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.0, but you have google-api-core 2.10.2 which is incompatible.
google-cloud-firestore 2.11.0 requires google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.0, but you have google-api-core 2.10.2 which is incompatible.
google-cloud-datastore 2.15.1 requires google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.0, but you have google-api-core 2.10.2 which is incompatible.
google-cloud-bigquery-storage 2.19.1 requires google-api-core[grpc]!=2.0.*,!=2.1.*,!=2.10.*,!=2.2.*,!=2.3.*,!=2.4.*,!=2.5.*,!=2.6.*,!=2.7.*,!=2.8.*,!=2.9.*,<3.0.0dev,>=1.34.0, but you have google-api-core 2.10.2 which is incompatible.

In [ ]:
import pandas as pd
import searchconsole
import json, re, requests
from unicodedata import normalize
from google.colab import auth
auth.authenticate_user()

In [ ]:
with open('/content/drive/MyDrive/credenciales/acceso/client_secrets.json') as cs:
  client_secrets_text = cs.read()
client_secrets = json.loads(client_secrets_text)
with open('/content/drive/MyDrive/credenciales/acceso/credentials.json') as cred:
  credentials_text = cred.read()
credentials = json.loads(credentials_text)

In [ ]:
account = searchconsole.authenticate(client_config=client_secrets,
                                     credentials=credentials)

In [ ]:
sc = account['https://www.clarin.com/']

In [ ]:
queries = sc.query.range('2023-03-01', '2023-03-31').dimension('query').get().to_dataframe()
len(queries)

37635

In [ ]:
from bertopic import BERTopic
from sklearn.cluster import KMeans

In [ ]:
cluster_model = KMeans(n_clusters=25)
topic_model = BERTopic(language="multilingual", hdbscan_model=cluster_model)

In [ ]:
stopwords = requests.get("https://raw.githubusercontent.com/dtaubaso/aux/main/stopwords").text.split("\n")

In [ ]:
def normalizar(palabra):
  palabra = re.sub(r'[^A-Za-záéíóúÁÉÍÓÚüÜÑñ ]+', '', palabra)
  palabra = palabra.replace('ñ', '\001');
  palabra = normalize('NFKD', palabra).encode('ASCII', 'ignore').decode().replace('\001', 'ñ')
  palabra = [a.lower() for a in palabra.split() if len(a.lower()) > 2 and a.lower() not in stopwords]
  palabra = " ".join(palabra)
  return palabra

In [ ]:
queries['kw'] = queries['query'].apply(lambda x: normalizar(x))

In [ ]:
keywords = queries.groupby('kw', as_index=False).sum()

In [ ]:
keywords = keywords.sort_values('clicks', ascending=False)

In [ ]:
keywords = keywords.loc[keywords['kw']!=""]

In [ ]:
kws = keywords['kw'].tolist()

In [ ]:
topic_m = BERTopic(language="multilingual")

In [ ]:
topics, probs = topic_m.fit_transform(kws)

In [ ]:
topic_m.get_topic_info()

     Topic  Count                                              Name
0       -1   5504                   -1_clarin_argentina_carlos_hija
1        0    218                   0_hermano_hermanos_marcos_pluto
2        1    176                 1_julieta_julia_lanteri_elizabeth
3        2    169              2_argentina_argentino_escudo_amenaza
4        3    164                3_meghan_burlando_cabezas_gianinna
..     ...    ...                                               ...
550    549     10         549_zapallito_revuelto_zapallitos_zandona
551    550     10            550_ludueña_acha_gaincerain_benvenutto
552    551     10         551_clima_meteorologico_humedad_climatico
553    552     10                 552_florencia_bas_marco_lattanzio
554    553     10  553_negreira_juanaviale_jimenabaron_zaliznianske

[555 rows x 3 columns]

In [ ]:
topic_m.reduce_topics(kws)

In [ ]:
topic_m.get_topic_info()

    Topic  Count                                    Name
0      -1   5504        -1_argentina_clarin_messi_receta
1       0  15692          0_argentina_hermano_dia_receta
2       1    274         1_cancer_diarrea_hospital_narco
3       2    249         2_horoscopo_saturno_piscis_amor
4       3    169       3_incendio_nuclear_tiroteo_atucha
5       4     87             4_gripe_dengue_aviar_vacuna
6       5     86      5_jubilados_jubilacion_pension_ley
7       6     73    6_inundaciones_tornado_lluvias_merlo
8       7     70          7_iphone_tablet_funciona_messi
9       8     45          8_whatsapp_grupos_nombres_meme
10      9     42           9_bionica_clones_gene_bitcoin
11     10     40  10_supermercado_roccuzzo_unico_rosario
12     11     26    11_electro_fravega_fans_electricidad
13     12     24   12_sintomas_colesterol_vitaminas_alto
14     13     22          13_silicon_valley_bank_quiebra
15     14     21     14_suicidio_gemelas_suicido_suicida
16     15     20  15_embarazada_embarazo_soñar_significa
17     16     13   16_espejo_significado_numeros_espejos
18     17     12     17_cupcakes_cupcake_vainilla_receta
19     18     11      18_memoriam_memorian_memoria_oscar

In [ ]:
keywords['topic'] = topic_m.topics_

In [ ]:
keywords['topic'] = keywords['topic'].replace(-1, 19)

In [ ]:
pip install --quiet openai

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 70.3/70.3 kB 4.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 32.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 158.8/158.8 kB 18.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.2/114.2 kB 14.3 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 269.3/269.3 kB 27.9 MB/s eta 0:00:00

In [ ]:
import openai
openai.api_key = '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'

In [ ]:
from tqdm import tqdm

In [ ]:
def name_topics(topics):
  response = openai.ChatCompletion.create(
        model="gpt-3.5-turbo",
        messages=[
            {"role": "system", "content": "Eres un experto en analizar textos y extraer los temas y conceptos principales."},
            {"role": "user", "content": f'Extrae la temática principal que tienen en comun esta serie de palabras: {topics}. '\
            'Tu respuesta deben ser no más de dos palabras, y devuelve solo esas palabras'},
        ],
        max_tokens=50,
        n=1,
        stop=None,
        temperature=0.5,
    )
  return response['choices'][0]['message']['content'].strip()

In [ ]:
f = keywords[keywords['topic']==9]
f = f.sort_values('clicks', ascending = False)
k = f['kw'].tolist()
k = ",".join(k)[:100]

In [ ]:
f

,kw,clicks,impressions,ctr,position,topic
8573,gene hackman,1570,25189,0.225747,15.025141,9
4319,clrin,1331,3164,0.420670,1.007585,9
4320,clsrin,1071,2176,0.492188,1.002298,9
2347,biodescodificacion,891,105954,0.034444,13.104470,9
8539,gein,708,32590,0.021724,4.964468,9
2351,bionica,506,11188,0.107698,9.867293,9
4271,clatin,437,1054,0.414611,1.100569,9
13202,messi clon,436,1904,0.459315,3.677378,9
4348,coarin,276,547,0.504570,1.038391,9
5285,cñarin,145,267,0.543071,1.007491,9
4096,claarin,145,293,0.494881,1.000000,9
2358,bitcoin,86,4822,0.017835,6.477395,9
4312,clon messi,82,360,0.540625,3.259375,9
4314,clones messi,79,325,0.243077,1.575385,9
17807,recital bionica,76,313,0.504736,3.366402,9
4318,clqrin,75,133,0.563910,1.000000,9
3800,chano bionica,73,2219,0.068114,6.831681,9
15060,oxycontin,69,544,0.126838,7.566176,9
22041,volvio bionica,66,699,0.094421,2.314735,9
4313,clones clase,64,302,0.211921,2.701987,9
5431,decodificacion bioemocional,59,348,0.378591,2.000000,9
4305,clims,44,1377,0.031954,2.021060,9
2352,bionica entradas,30,269,0.111524,3.628253,9
13203,messi clones,23,88,0.261364,2.113636,9
22123,vuelta bionica,21,100,0.210000,2.020000,9
2354,bionica recital,17,104,0.324588,5.314093,9
4286,clim,16,1392,0.011494,7.087644,9
2359,bitcoin sube,16,88,0.181818,2.863636,9
2355,bionica show,15,121,0.123967,1.925620,9
13364,microinversion,15,33,0.454545,1.666667,9
21043,toca bionica,10,150,0.066667,4.366667,9
20540,tango biomecanica,9,19,0.473684,1.000000,9
17924,regreso bionica,9,63,0.142857,3.492063,9
19517,show bionica,9,55,0.163636,3.236364,9
13365,microinversiones,9,39,0.230769,9.333333,9
4311,clma,8,71,0.112676,4.295775,9
4310,cllarin,8,15,0.533333,1.000000,9
4270,clasrin,8,14,0.571429,1.214286,9
4306,clina,8,549,0.014572,6.118397,9
8574,gene simmons,8,1144,0.006993,7.281469,9
2346,biodecodificacion,7,209,0.033493,5.655502,9
22132,vuelve bionica,7,65,0.107692,4.646154,9

In [ ]:
r = name_topics(k)

In [ ]:
re.sub(r'[^A-Za-záéíóúÁÉÍÓÚüÜÑñ ]+', '', r)

'Apuestas deportivas'

In [ ]:
name_topic = []
for t in tqdm(range(0,20)):
  f = keywords[keywords['topic']==t]
  f = f.sort_values('clicks', ascending = False)
  k = f['kw'].tolist()
  k = ",".join(k)[:100]
  res = name_topics(k)
  name_topic.append({'topic': t, 'name': re.sub(r'[^A-Za-záéíóúÁÉÍÓÚüÜÑñ ]+', '', res).lower()})

100%|██████████| 20/20 [00:12<00:00,  1.64it/s]

In [ ]:
name_topic

[{'topic': 0, 'name': 'noticias argentina'},
 {'topic': 1, 'name': 'salud y crimen'},
 {'topic': 2, 'name': 'astrología horóscopica'},
 {'topic': 3, 'name': 'centrales nucleares'},
 {'topic': 4, 'name': 'enfermedades contagiosas'},
 {'topic': 5, 'name': 'jubilaciónretiro'},
 {'topic': 6, 'name': 'tormentas eléctricas'},
 {'topic': 7, 'name': 'fama y riqueza'},
 {'topic': 8, 'name': 'nombres grupales'},
 {'topic': 9,
  'name': 'no hay una temática principal clara en común entre esas palabras'},
 {'topic': 10, 'name': 'supermercados rosario'},
 {'topic': 11, 'name': 'música electrónica'},
 {'topic': 12, 'name': 'colesterol alto'},
 {'topic': 13, 'name': 'finanzas tecnológicas'},
 {'topic': 14, 'name': 'suicidio mediático'},
 {'topic': 15, 'name': 'soñar embarazo'},
 {'topic': 16, 'name': 'espejo significado'},
 {'topic': 17, 'name': 'repostería  cupcakes'},
 {'topic': 18, 'name': 'memoria colectiva'},
 {'topic': 19, 'name': 'periódico  pasatiempos'}]

In [ ]:
df_t = pd.DataFrame(name_topic)

In [ ]:
df_t['name'][9] = 'bitcoin'

In [ ]:
df_merge = keywords.merge(df_t, on='topic')

In [ ]:
df_merge.to_csv('df_clusters_2.csv', index=False)